image: node:20

stages:
  - deploy

pages:
  stage: deploy
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - project/.npm/
  script:
    - cd project
    - npm ci --cache .npm --prefer-offline
    - BASE_URL="${CI_PAGES_URL:-"/$CI_PROJECT_NAME"}"
    - BASE_URL="${BASE_URL%/}/"
    - npm run build -- --base="$BASE_URL"
    - cp dist/index.html dist/404.html
    - rm -rf ../public
    - mv dist ../public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH
